---
import RootLayout from "../layout/RootLayout.astro";
import BlogPost from "../storyblok/blog/BlogPost.astro";
---

<RootLayout>
	<div class="flex flex-1 w-full h-full inset-0">
		<h1 class="text-red-600">Astro</h1>
	</div>
</RootLayout>
